.\Thesis\Software\Perch_Detector_Forest\Christian
.\Thesis\Software\Perch_Detector_Forest\Christian\*
Thesis/Software/Perch_Detector_Forest/Christian/DOI.txt
Thesis/Software/Perch_Detector_Forest/Christian/README.txt
Thesis/Software/Perch_Detector_Forest/Christian/*
